html{
    position: relative;
    height: 100vh;
}

html::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:  linear-gradient(rgba(0,0,0,0.527),rgba(0,0,0,0.5)), url("./images/background.jpg");
    background-size: cover;
    background-attachment: fixed;  
    background-position: top center; 
}

.colors{
    color:#FF7733;
}

.header{
    color: white;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo{
    color: #FF7733;
    font-weight: bold;
    font-size: 30px;
}

h1{
    font-size: 42px;
}
.loginLabel{
    font-size: 26px;
    font-family: Poppins;
}

.intro{
    font-family: Poppins;
    position: relative;
    color: white;
    padding: 1.25rem;
}

.intro-text{
    padding: 1.75rem 0rem;
}

.intro-button{
    text-align: end;
    margin: 1.5rem 0.25rem;
}

button{

    background-color: transparent;
    color: #FF7733;
    border: 2px solid #FF7733;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins/Poppins-Regular.ttf");
}